/* ==UserStyle==
@name           www.bilibili.com - 2023/8/24 下午2:10:00
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://www.bilibili.com/") {
    /*播放视频的页面*/
    #biliMainHeader{
        display:none;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.up-panel-container{
        display:none;
    }
    #danmukuBox > div{
        display:none;
    }
    #comment > div > div > div > div.reply-warp > div.fixed-reply-box{
        display:none;
    }
    #app > div.video-container-v1 > div.fixed-sidenav-storage{
        display:none;
    }
    #arc_toolbar_report{
        display:none;
    }
    #v_tag{
        display:none;
    }
    #reco_list{
        display:none;
    }
    .sub-reply-container{
        display:none;
    }
    #comment > div > div > div > div.reply-warp > div.main-reply-box{
        display:none;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.base-video-sections-v1 > div.video-sections-head > div.video-sections-head_second-line{
        display:none;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.pop-live-small-mode.part-undefined{
        display:none;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.base-video-sections-v1 > div.video-sections-head{
        margin-bottom:25px;
    }
    .reply-tag-list{
        display:none;
    }
    #bilibili-player > div > div > div.bpx-player-primary-area > div.bpx-player-sending-area > div{
        display:none;
    }
    #viewbox_report > div > div > span.view.item{
        display:none;
    }
    #viewbox_report > div > div > span.dm.item{
        display:none;
    }
    #viewbox_report > div > div > span.copyright.item{
        display:none;
    }

    #viewbox_report > div > div > span.pubdate-ip.item > span > span{
        font-size:18px;
    }
    #v_desc > div > span{
        font-size:20px;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.base-video-sections-v1{
        font-size:20px;
    }
    #comment > div > div > div > div.reply-header > div > ul > li.nav-sort.hot{
        display:none;
    }
    .reply-tag-list{
        display:none;
    }
    .user-info{
        display:none;
    }
    .reply-item .root-reply-container .content-warp .user-info[data-v-bc6a99fc] {
        display: none;
    }
    .reply-item .root-reply-container .content-warp .root-reply .reply-tag-list .reply-tag-item[data-v-bc6a99fc] {
            display:none;
   
    }
    .reply-item .root-reply-container .content-warp .root-reply .reply-info .reply-like[data-v-bc6a99fc] {
        display: none;
    }
    .reply-item .root-reply-container .content-warp .root-reply .reply-info .reply-dislike[data-v-bc6a99fc] {
        display: none;
    }
    .reply-item .root-reply-container .content-warp .root-reply .reply-info .reply-btn[data-v-bc6a99fc] {
        display:none;
    }
    .reply-item .root-reply-container .content-warp .root-reply[data-v-bc6a99fc] {
        font-size: 20px;
    }
    .reply-item .root-reply-container .content-warp .root-reply .reply-info[data-v-bc6a99fc] {
        font-size:16px;
    }
    .reply-item .root-reply-container .content-warp .reply-decorate .user-sailing .user-sailing-img[data-v-bc6a99fc] {
        display:none;
    }
    .reply-item .root-reply-container .content-warp .reply-decorate .user-sailing .user-sailing-text[data-v-bc6a99fc] {
        display:none;
    }
    .reply-item .root-reply-container[data-v-bc6a99fc] {
        padding: 50px 0 0 80px;
    }
    #app > div.video-container-v1 > div.right-container.is-in-large-ab > div > div.base-video-sections-v1
    {
       margin-top:250px;
    }
    #activity_vote{
        display:none;
    }
    
    /*首页*/
    #i_cecream > div.adblock-tips{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.bili-header.large-header > div.bili-header__bar > ul.left-entry{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.bili-header.large-header > div.bili-header__bar > ul.right-entry{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.bili-header.large-header > div.bili-header__channel{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.palette-button-outer.palette-feed4 > div > div{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.header-channel{
        display:none;
    }
    .bili-video-card .bili-video-card__info--owner__up {
        display:none;
    }
    .bili-video-card .bili-video-card__info--author {
        display:none;
    }
    .bili-video-card .bili-video-card__info--date {
        font-size:18px;
        margin-left:0px; 
    }
    .floor-single-card{
        display:none;
    }
    .feed-roll-btn .primary-btn[data-v-f51aa350] {
       display:none;
    }
    #i_cecream > div.bili-feed4 > main > div.feed2 > div > div.container.is-version8 > div.recommended-swipe.grid-anchor{
        display:none;
    }
    #i_cecream > div.bili-feed4 > div.bili-header.large-header > div.bili-header__banner{
        display:none;
    }
    #i_cecream > div.bili-feed4 > main > div.feed2 > div > div.container.is-version8 > div.bili-live-card.is-rcmd{
        display:none;
    }
    .bili-video-card .bili-video-card__stats {
        display:none;
    }
}

