/* ==UserStyle==
@name           blog.csdn.net - 2023/9/8 下午5:35:06
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("blog.csdn.net") {
    
    #csdn-toolbar{
        display:none;  //屏蔽最上方的标题栏
    }
    #mainBox > aside{
        display:none;   //屏蔽最左边的这一栏
    }
    #toolBarBox{
        display:none;
    }
    .csdn-side-toolbar{
        display:none;
    }
    #pcCommentBox{
        display:none !important;
    }
    #mainBox > main > div.recommend-box.insert-baidu-box.recommend-box-style{
        display:none;
    }
    #copyright-box{
        display:none;
    }
    #mainBox > main > div.first-recommend-box.recommend-box{
        display:none;
    }
    #mainBox > main > div.second-recommend-box.recommend-box{
        display:none;
    }
    #recommendNps{
        display:none !important;
    }
    
}

