/* ==UserStyle==
@name           www.baidu.com - 2023/8/25 上午11:22:22
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.baidu.com") {
    #u > a.toindex{
        display:none;
    }
    #u > a.pf{
        display:none;
    }
   .wrapper_new #u #s-top-loginbtn, .wrapper_new #u #user {
        display:none;
    }
    #rs_new{
        display:none;
    }
    
}
