/* ==UserStyle==
@name           tieba.baidu.com - 2023/8/6 下午2:21:17
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("tieba.baidu.com") {
    /* 修改百度贴吧的主页 */
    #head > div.head_inner{
        display:none;
    }
    #plat_recom_carousel > div{
        display:none;
    }
    body > ul{
        display:none;
    }
    #com_userbar{
        display:none;
    }
    #pagelet_navigation\/pagelet\/navigation{
        display:none;
    }
    #aside{
        display:none;
    }
    #pagelet_frs-header\/pagelet\/head > div > div.head_content > div.card_top_wrap.clearfix.card_top_theme > div.card_top_right{
        display:none;
    }
    #plat_recom_carousel{
        height:100px;
    }
    #pagelet_frs-header\/pagelet\/head > div > div.head_content > div.card_banner.card_banner_link > div > div > img{
        display:none;
    }
    #pagelet_frs-header\/pagelet\/head > div > div.head_content > div.card_top_wrap.clearfix.card_top_theme > div.card_top.clearfix > p{
        display:none;
    }
    #pagelet_frs-header\/pagelet\/head > div > div.head_content > div.card_top_wrap.clearfix.card_top_theme > div.card_top.clearfix > div.card_info{
        display:none;
    }
    #content_wrap{
        width:90%;
    }
    .threadlist_text.pull_left{
        width:600px;
    }
    .tb_icon_author{
        display:none;
    }
    .tb_icon_author_rely.j_replyer{
        display:none;
    }
   
    #thread_list{
        font-size:18px;
    }
    .threadlist_title.pull_left.j_th_tit{
        font-size:20px;
    }
    .threadlist_abs.threadlist_abs_onlyline{
        width:100%;
    }
    .tb_icon_author_rely.j_replyer{
        width:0px;
    }
    body > div.wrap1 > div > div.foot{
        display:none;
    }
    #thread_list > li.thread_top_list_folder{
        display:none;
    }
    #plat_recom_carousel > ul.tbui_slideshow_list{
        display:none;
    }
    
    ._73gawc6{
        display:none;
    }
    .hover_btn{
        display:none;
    }
    
    .label_text{
        display:none;
    }
    .close_btn.j_click_close{
        display:none;
    }
    /* 修改点进去之后的页面 */
    #container > div > div.card_top_wrap.clearfix.card_top_theme2 > div.card_top_right{
        display:none;
    }
    #pb_content > div.right_section.right_bright{
        display:none;
    }
    #tb_nav{
        display:none;
    }
    #container > div > div.card_top_wrap.clearfix.card_top_theme2 > div.card_top.clearfix > div.card_title > span{
        display:none;
    }
    #thread_theme_5 > div.l_thread_info > ul{
        font-size:20px;
    }
    #tofrs_up{
        font-size:18px;
    }
    #j_core_title_wrap > span{
        display:none;
    }
    #tb_rich_poster_container{
        display:none;
    }
    #footer{
        display:none;
    }
    .core_reply.j_lzl_wrapper{
        display:none;
    }
   .share_btn_wrapper{
        display:none;
    }
    .d_name{
        display:none;
    }
    .d_icons{
        display:none;
    }
    li.l_badge > div{
        display:none;
    }
    .d_post_content.j_d_post_content{
        font-size:19px;
        line-height: 2;
    }
    #j_core_title_wrap > h3{
        font-size:20px;
    }
    div.save_face_bg.save_face_bg_2{
        display:none;
    }
    #fixed_bar{
        display:none;
    }
    #TANGRAM__PSP_23__qrcode{
        display:none !important;
    }
    #tiebaCustomPassLogin > div.tieba-login-wrapper > div.tang-pass-footerBar{
        height:400px;
    }
    #tb_rich_poster{
        display:none;
    }
    #thread_theme_5{
        display:none;
    }
    #j_core_title_wrap > div.core_title.core_title_theme_bright > ul{
        display:none;
    }
    .l_posts_num{
        font-size:20px;
    }
    #thread_theme_7 > div.l_thread_info > ul > li.l_pager.pager_theme_5.pb_list_pager{
        font-size:20px;
    }
}