/* ==UserStyle==
@name           www.zhihu.com - 2023/8/26 下午5:17:29
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.zhihu.com") {
    .css-1ynzxqw {
        display:none;
    }
    #root > div > div:nth-child(2){
        display:none;
    }
    .QuestionHeader-tags {
        display:none;
    }
    .QuestionHeader-side {
        display:none;
    }
    #root > div > main > div > div > div.Question-main > div.Question-sideColumn.Question-sideColumn--sticky.css-1qyytj7{
        display:none;
    }
    .QuestionHeader-footer {
        display:none;
    }
    .AuthorInfo-content {
        display:none;
    }
    .ContentItem-actions {
        display:none;
    }
    .Button.FollowButton.css-upmq18.FEfUrdfMIKpQDJDqkjte.Button--secondary.Button--blue.E211w_M7Hzs0GMB7BEyA.JmYzaky7MEPMFcJDLNMG{
        display:none;
    }

    
    
    #QuestionAnswers-answers > div > div > div > div:nth-child(2) > div > div:nth-child(7)
    .Button.FEfUrdfMIKpQDJDqkjte.Button--plain.fEPKGkUK5jyc4fUuT0QP{
        display:none;
    }
    
    
   
    
    
    #root > div > main > div > div > div.Question-main > div.ListShortcut > div > div.Question-mainColumnLogin{
        display:none;
    }
    #root > div > main > div > div > div.Question-main > div.ListShortcut > div > div.Card.AnswerCard.css-0 > div > div > div > div.ContentItem-meta > div.css-1k5dpte > span > span > button{ display:none;}
    .css-l44lgl {
        display:none;
    }
    
    .RichContent.RichContent-hasCatalog.RichContent--unescapable{
        margin-left:50%;
    }
    #root > div > main > div > div.Search-container > div.css-knqde{
        display:none;
    }
    
   
}

